
@{
    ViewBag.Title = "BdnCustomerDetail";
}

<h2>Thong tin khach hang</h2>
<div class="alert alert-danger">
    <h3>Ma so: @ViewBag.customer.CustomerId</h3>
    <p>Ho va ten : @ViewBag.customer.Firtname @ViewBag.customer.Lastname</p>
    <p>Ma so: @ViewBag.customer.Address</p>
    <p>Ma so: @ViewBag.customer.YearofBirth</p>
</div>

